.catHeading h1 {
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
}
.categoryImg {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  justify-content: center;
}
.categoryImg img {
  width: 20vw;
}
.categoryDiv {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 20px;
  /* background-color: aqua; */
}
.categoryPara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.categoryPara p {
  text-align: center;
}
.categoryPara h2 {
  text-align: center;
}
.leftDiv {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 2px 2px;
  border-radius: 20px;
  /* background-color: aquamarine; */
  width: 40%;
}
.RightDiv {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 2px 2px;
  border-radius: 20px;
}
@media (max-width: 1100px) {
  .RightDiv {
    width: 35%;
  }
  .leftDiv {
    width: 35%;
  }
  .categoryImg img {
    width: 15vw;
  }
  .categoryPara h2 {
    font-size: 1.9vw;
    padding: 10px;
  }
  .categoryPara p {
    font-size: 1.1vw;
  }
}
@media (max-width: 990px) {
  .categoryImg img {
    width: 15vw;
  }
  .categoryPara h2 {
    font-size: 2vw;
    padding: 10px;
  }
  .categoryPara p {
    font-size: 1.7vw;
  }
}
@media (max-width: 769px) {
  .catHeading h1 {
    font-size: 3vw;
  }
  .categoryDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .RightDiv {
    width: 60%;
  }
  .leftDiv {
    width: 60%;
  }
  .categoryImg img {
    width: 20vw;
  }
  .categoryPara h2 {
    font-size: 3vw;
    padding: 10px;
  }
  .categoryPara p {
    font-size: 2.2vw;
  }
}
@media (max-width: 500px) {
  .categoryPara h2 {
    font-size: 7vw;
    padding: 10px;
  }
  .categoryPara p {
    font-size: 4vw;
  }
  .RightDiv {
    width: 90%;
  }
  .leftDiv {
    width: 90%;
  }
  .catHeading h1 {
    font-size: 4.8vw;
  }
}
