.forthSecCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.forthSecCont img {
  width: 32.9vw;
  height: 20vw;
}
@media (max-width: 769px) {
  .forthSecCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .forthSecCont img {
    width: 50vw;
    height: 35vw;
  }
}
