.secDivLeftImg {
  width: 100%;
  display: block;
}
.secDivLeftImg img {
  width: 15vw;
}
.secDivRightImg {
  width: 100%;
  height: 100%;
  display: block;
  padding: 30px 10px;
}
.sectionPara p {
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
}
.secDivRightImg img {
  width: 30vw;
}
.sectionCont {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: gainsboro;
}
.secDivLeft {
  padding: 30px;
}
@media (max-width: 769px) {
  .sectionCont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 0px;
  }
  .secDivRightImg {
    padding: 20px;
  }
  .secDivLeftImg img {
    width: 40vw;
  }
  .sectionPara p {
    font-size: 3.5vw;
  }
  .sectionPara {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secDivLeft {
    text-align: center;
  }
  .secDivRightImg img {
    width: 70vw;
  }
}
@media (max-width: 600px) {
  .sectionCont {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .secDivRightImg img {
    width: 80vw;
  }
  .sectionPara p {
    font-size: 4vw;
  }
}
@media (max-width: 500px) {
  .secDivRightImg {
    padding: 30px 10px;
  }
  .secDivLeftImg img {
    width: 50vw;
  }
  .secDivLeft {
    padding: 0px;
  }
  .sectionPara p {
    font-size: 4.2vw;
    padding: 10px 10px 50px 10px;
    letter-spacing: 0.3vw;
  }
}
